In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv(r"C:\Users\darsh\Desktop\Projects\IPL\data\IPL_Ball_by_Ball_2008_2022.csv")
players = pd.read_excel(r"C:\Users\darsh\Desktop\Projects\IPL\data\Copy of Ipl_2023 _cricketers.xlsx")
data.head(2)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals

In [3]:
data['kind'].unique()

array([nan, 'caught', 'caught and bowled', 'run out', 'bowled', 'stumped',
       'lbw', 'hit wicket', 'retired hurt', 'retired out',
       'obstructing the field'], dtype=object)

# Batter data

In [4]:
past_batters = pd.Series(pd.unique(data['batter']))
past_batters

0          YBK Jaiswal
1           JC Buttler
2            SV Samson
3           D Padikkal
4           SO Hetmyer
            ...
600    D Kalyankrishna
601           MA Khote
602           SB Joshi
603         DS Lehmann
604          AA Noffke
Length: 605, dtype: object

In [5]:
# Innings played
n_batting_innings = data.groupby('batter').nunique()['ID']
n_batting_innings

batter
A Ashish Reddy     23
A Badoni           11
A Chandila          2
A Chopra            6
A Choudhary         3
                 ...
Yash Dayal          1
Yashpal Singh       4
Younis Khan         1
Yuvraj Singh      126
Z Khan             27
Name: ID, Length: 605, dtype: int64

In [6]:
n_runs = data.groupby('batter')['batsman_run'].sum()
n_runs

batter
A Ashish Reddy     280
A Badoni           161
A Chandila           4
A Chopra            53
A Choudhary         25
                  ...
Yash Dayal           0
Yashpal Singh       47
Younis Khan          3
Yuvraj Singh      2754
Z Khan             117
Name: batsman_run, Length: 605, dtype: int64

In [7]:
# Batting average
n_outs = data.groupby('batter')['isWicketDelivery'].sum()
batting_avg = n_runs / n_outs
batting_avg

batter
A Ashish Reddy    18.666667
A Badoni          17.888889
A Chandila         4.000000
A Chopra          10.600000
A Choudhary       12.500000
                    ...
Yash Dayal         0.000000
Yashpal Singh     11.750000
Younis Khan        3.000000
Yuvraj Singh      25.266055
Z Khan             7.800000
Length: 605, dtype: float64

In [8]:
# No. of bowls faced
n_bowls_faced = data.groupby('batter').count()['ID']
n_bowls_faced

batter
A Ashish Reddy     196
A Badoni           139
A Chandila           7
A Chopra            75
A Choudhary         20
                  ...
Yash Dayal           1
Yashpal Singh       67
Younis Khan          7
Yuvraj Singh      2207
Z Khan             141
Name: ID, Length: 605, dtype: int64

In [9]:
# Strike rate
strike_rate = (n_runs / n_bowls_faced) * 100
strike_rate

batter
A Ashish Reddy    142.857143
A Badoni          115.827338
A Chandila         57.142857
A Chopra           70.666667
A Choudhary       125.000000
                     ...
Yash Dayal          0.000000
Yashpal Singh      70.149254
Younis Khan        42.857143
Yuvraj Singh      124.784776
Z Khan             82.978723
Length: 605, dtype: float64

In [10]:
batter_strength = 0.1 * n_bowls_faced + 0.3 * batting_avg + 0.3 * strike_rate + 0.3 * n_runs

# Bowlers data

In [11]:
past_bowlers = pd.Series(pd.unique(data['bowler']))

In [12]:
# No. of wickets
# Find all the wicket taking deliveries. "run out", "retired hurt", "retired out" are not considered
wicket_mask = data['kind'].isin(['caught', 'caught and bowled', 'bowled', 'stumped', 'lbw', 'hit wicket'])
wicket_data = data[wicket_mask]
n_wickets0 = wicket_data.groupby('bowler')['player_out'].count()
n_wickets0

bowler
A Ashish Reddy     18
A Badoni            2
A Chandila         11
A Choudhary         5
A Flintoff          2
                 ...
YK Pathan          42
YS Chahal         166
Yash Dayal         11
Yuvraj Singh       36
Z Khan            102
Name: player_out, Length: 404, dtype: int64

In [13]:
n_wickets0['Z Khan']

102

In [14]:
n_wickets = pd.Series({x:n_wickets0[x] if x in n_wickets0.keys() else 0 for x in past_bowlers})
len(n_wickets)

472

In [15]:
# No. of innings played
n_innings = data.groupby('bowler')['ID'].nunique()
n_innings

bowler
A Ashish Reddy     20
A Badoni            2
A Chandila         12
A Choudhary         5
A Dananjaya         1
                 ...
YK Pathan          82
YS Chahal         130
Yash Dayal          9
Yuvraj Singh       73
Z Khan             99
Name: ID, Length: 472, dtype: int64

In [16]:
# No. of bowls they have bowled and corresponding runs
runs_conceded = data.groupby('bowler')['total_run'].sum()
runs_conceded

bowler
A Ashish Reddy     400
A Badoni            12
A Chandila         245
A Choudhary        144
A Dananjaya         47
                  ...
YK Pathan         1443
YS Chahal         3699
Yash Dayal         296
Yuvraj Singh      1091
Z Khan            2860
Name: total_run, Length: 472, dtype: int64

In [17]:
# No. of bowls bowled in (over)
n_overs = data.groupby('bowler').count()['ID']/6
n_overs

bowler
A Ashish Reddy     45.000000
A Badoni            2.000000
A Chandila         39.000000
A Choudhary        18.000000
A Dananjaya         4.166667
                     ...
YK Pathan         197.333333
YS Chahal         490.000000
Yash Dayal         34.166667
Yuvraj Singh      147.000000
Z Khan            379.333333
Name: ID, Length: 472, dtype: float64

In [18]:
print(len(n_wickets))
print(len(n_innings))
print(len(runs_conceded))
print(len(n_overs))

472
472
472
472

In [26]:
# Bowling average
bowling_avg0 = runs_conceded / n_wickets
bowling_eco = runs_conceded / n_overs

In [27]:
bowling_avg = bowling_avg0.apply(lambda x: x if x != np.inf else 0)

In [29]:
# Calculating bowlers strength
# bowler strength = 0.2*n_overs_bowled + 0.3*economy + 0.3*avg + 0.2*no_wickets
bowler_strength = 0.1 * n_overs + 0.3 * bowling_eco + 0.3 * bowling_avg + 0.3 * n_wickets
bowler_strength

A Ashish Reddy     19.233333
A Badoni            4.400000
A Chandila         15.766434
A Choudhary        14.340000
A Dananjaya         3.800667
                     ...
YK Pathan          44.834226
YS Chahal         107.749634
Yash Dayal         17.388418
Yuvraj Singh       36.818197
Z Khan             79.206961
Length: 472, dtype: float64

# Creating training data

In [30]:
data.head(2)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals

In [31]:
# consider only the first 6 overs of each match
mask_6over = data['overs'] < 6
df1 = data[mask_6over]  # df1 has data of first six overs of each match.

In [32]:
matchwise_batter = df1.groupby(['ID', 'innings'])['batter'].unique().reset_index()
matchwise_bowler = df1.groupby(['ID', 'innings'])['bowler'].unique().reset_index()

In [33]:
matchwise_batter_df = matchwise_batter.reset_index()
matchwise_batter_df

,index,ID,innings,batter
0,0,335982,1,"[SC Ganguly, BB McCullum, RT Ponting]"
1,1,335982,2,"[R Dravid, W Jaffer, V Kohli, JH Kallis, CL Wh..."
2,2,335983,1,"[PA Patel, ML Hayden, MEK Hussey]"
3,3,335983,2,"[K Goel, JR Hopes]"
4,4,335984,1,"[T Kohli, YK Pathan, SR Watson, M Kaif]"
...,...,...,...,...
1923,1923,1312198,2,"[Q de Kock, KL Rahul, M Vohra, DJ Hooda]"
1924,1924,1312199,1,"[V Kohli, F du Plessis, RM Patidar]"
1925,1925,1312199,2,"[YBK Jaiswal, JC Buttler, SV Samson]"
1926,1926,1312200,1,"[YBK Jaiswal, JC Buttler, SV Samson]"
1927,1927,1312200,2,"[WP Saha, Shubman Gill, MS Wade, HH Pandya]"

In [34]:
def cal_batting_power(batsmen):
    n_batsmen = len(batsmen)
    total_score = 0
    for batter in batsmen:
        total_score += batter_strength[batter]
    return total_score / n_batsmen

In [35]:
def cal_bowling_power(bowlers):
    n_bowler = len(bowlers)
    total_score = 0
    for bowler in bowlers:
        total_score += bowler_strength[bowler]
    return total_score / n_bowler

In [36]:
data0 = pd.merge(matchwise_batter, matchwise_bowler, on=['ID', 'innings'])

In [37]:
data0['batting_strength'] = data0['batter'].apply(lambda x: cal_batting_power(x)).values

In [38]:
data0['bowling_strength'] = data0['bowler'].apply(lambda x: cal_bowling_power(x)).values

In [39]:
# Finding score of first 6 overs
score_6over = df1.groupby(['ID', 'innings'])['total_run'].sum().reset_index()

In [40]:
data0

,ID,innings,batter,bowler,batting_strength,bowling_strength
0,335982,1,"[SC Ganguly, BB McCullum, RT Ponting]","[P Kumar, Z Khan, AA Noffke]",592.700426,59.848952
1,335982,2,"[R Dravid, W Jaffer, V Kohli, JH Kallis, CL Wh...","[AB Dinda, I Sharma, AB Agarkar]",857.658951,55.401176
2,335983,1,"[PA Patel, ML Hayden, MEK Hussey]","[B Lee, S Sreesanth, JR Hopes]",804.351224,34.295762
3,335983,2,"[K Goel, JR Hopes]","[JDP Oram, MS Gony]",162.517517,30.630840
4,335984,1,"[T Kohli, YK Pathan, SR Watson, M Kaif]","[GD McGrath, B Geeves, MF Maharoof]",728.545394,25.175943
...,...,...,...,...,...,...
1923,1312198,2,"[Q de Kock, KL Rahul, M Vohra, DJ Hooda]","[Mohammed Siraj, JR Hazlewood, Shahbaz Ahmed]",892.593701,35.125927
1924,1312199,1,"[V Kohli, F du Plessis, RM Patidar]","[TA Boult, M Prasidh Krishna]",1368.636119,58.886480
1925,1312199,2,"[YBK Jaiswal, JC Buttler, SV Samson]","[Mohammed Siraj, JR Hazlewood, GJ Maxwell, Sha...",908.498121,35.311039
1926,1312200,1,"[YBK Jaiswal, JC Buttler, SV Samson]","[Mohammed Shami, Yash Dayal, LH Ferguson, Rash...",908.498121,52.235599
1927,1312200,2,"[WP Saha, Shubman Gill, MS Wade, HH Pandya]","[TA Boult, M Prasidh Krishna, YS Chahal]",657.326163,75.174198

In [41]:
data_final = pd.merge(data0, score_6over, on=['ID', 'innings'])
data_final

,ID,innings,batter,bowler,batting_strength,bowling_strength,total_run
0,335982,1,"[SC Ganguly, BB McCullum, RT Ponting]","[P Kumar, Z Khan, AA Noffke]",592.700426,59.848952,61
1,335982,2,"[R Dravid, W Jaffer, V Kohli, JH Kallis, CL Wh...","[AB Dinda, I Sharma, AB Agarkar]",857.658951,55.401176,26
2,335983,1,"[PA Patel, ML Hayden, MEK Hussey]","[B Lee, S Sreesanth, JR Hopes]",804.351224,34.295762,53
3,335983,2,"[K Goel, JR Hopes]","[JDP Oram, MS Gony]",162.517517,30.630840,63
4,335984,1,"[T Kohli, YK Pathan, SR Watson, M Kaif]","[GD McGrath, B Geeves, MF Maharoof]",728.545394,25.175943,40
...,...,...,...,...,...,...,...
1923,1312198,2,"[Q de Kock, KL Rahul, M Vohra, DJ Hooda]","[Mohammed Siraj, JR Hazlewood, Shahbaz Ahmed]",892.593701,35.125927,62
1924,1312199,1,"[V Kohli, F du Plessis, RM Patidar]","[TA Boult, M Prasidh Krishna]",1368.636119,58.886480,46
1925,1312199,2,"[YBK Jaiswal, JC Buttler, SV Samson]","[Mohammed Siraj, JR Hazlewood, GJ Maxwell, Sha...",908.498121,35.311039,67
1926,1312200,1,"[YBK Jaiswal, JC Buttler, SV Samson]","[Mohammed Shami, Yash Dayal, LH Ferguson, Rash...",908.498121,52.235599,44
1927,1312200,2,"[WP Saha, Shubman Gill, MS Wade, HH Pandya]","[TA Boult, M Prasidh Krishna, YS Chahal]",657.326163,75.174198,31

In [42]:
data_final.to_csv('training_data.csv')